@import "../../App.scss";

.footer {
    background-color: $color-black;
    color: $color-white;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    h1 {
        font-weight: 500;
        margin-bottom: 2rem;

        span {
            font-weight: 300;
        }
    }

    .white-text {
        color: $color-white;

        &:hover {
            color: $color-yellow;
        }
    }

    p {
        font-size: $fs-small;
        margin-top: 3rem;
    }
}
