@import "../App.scss";

.state-buttons {
    button {
        margin: 1rem;
    }
}

.map-box {
    display: flex;
    justify-content: center;
}

.paypal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    &__img {
        width: 256px;
        height: 256px;
        margin-bottom: 20px;
    }
}
