@import "../App.scss";

.hero {
    &__logo {
        margin-top: 70px;
    }

    &__hero-title {
        text-align: center;
        font-size: 80px;
        font-weight: 400;
        line-height: normal;

        &__small {
            font-weight: 300;
            font-size: 50px;
        }

        &__highlight {
            font-weight: 600;
        }

        &__p {
            color: $color-black;
            text-align: center;
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 5rem;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin: 20px 0;
    }
}
